.idea/workspace.xml
target/jacoco.exec
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.example.productservice.controller.ProductControllerTest.txt
target/surefire-reports/com.example.productservice.repository.ProductRepositoryIntegrationTest.txt
target/surefire-reports/com.example.productservice.service.ProductServiceTest.txt
target/surefire-reports/TEST-com.example.productservice.controller.ProductControllerTest.xml
target/surefire-reports/TEST-com.example.productservice.repository.ProductRepositoryIntegrationTest.xml
target/surefire-reports/TEST-com.example.productservice.service.ProductServiceTest.xml
target/test-classes/com/example/productservice/controller/ProductControllerTest.class
target/test-classes/com/example/productservice/repository/ProductRepositoryIntegrationTest.class
target/test-classes/com/example/productservice/service/ProductServiceTest.class
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/vcs.xml
